<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Vue.js Quiz</title>
		<!-- CSS Links -->
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="app">
			<div v-for="question in questions">
				<h2>{{ question.question }}</h2>
				<label  v-for="answer in question.answers">
					<input type="checkbox" :class="{ 'ans-true':usrSel }" :value="answer.id" v-model="question.selected"> {{ answer.answer }}
				</label>
			</div>
			<hr>
			<button @click="onSubmit()">Submit</button>
		</div>
		<!-- JavaScript Scripts -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="questions.js"></script>
		<script src="script.js"></script>
	</body>
</html>
