<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Vue.js Quiz</title>
		<!-- CSS Links -->
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<!-- Vue.js App -->
		<div id="app">
			<div v-for="question in questions">
				 <!-- Displays question -->
				<h2>{{ question.question }}</h2>
				<!-- Displays answer -->
				<label v-for="answer in question.answersList" :class="{ 'correctAnswer':answer.correct, 'wrongAnswer':answer.wrong }">
					<input type="checkbox" :value="answer.id" v-model="question.selected"> {{ answer.answer }}
				</label>
			</div>
			<hr>
			<button @click="onSubmit()">Submit</button>
			<h5>{{ points }}/{{ questions.length }} questions are correct.</h5>
			<!-- New Question -->
			<h2>New Question</h2>
			<input placeholder="Add Question" v-model="questionInput" type="text">
			<br>
			<input placeholder="Add Answer" v-model="answerInput" type="text">
			<input id="correctCheckbox" type="checkbox">
			<button @click="newAnswer()">Add answer</button>
			<button @click="newQuestion()">Publish question</button>
			<ul>
				<li v-for="(answerWrite, i) in answersInputList">
					<span>{{ answerWrite.answer }}</span>
					<span @click="deleteAns(i)">X</span>
				</li>
			</ul>
		</div>
		<!-- JavaScript Scripts -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="questions.js"></script>
		<script src="script.js"></script>
	</body>
</html>
